<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>В Williams ведут переговоры с Audi о Колапинто</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/vowles/177429.jpg" 
        alt="car">
<p>Яркий дебют Франко Колапинто в Формуле 1 привёл к тому, что аргентинским гонщиком заинтересовались в Sauber. 
    Руководитель Williams Джеймс Ваулз рассказал, что ведёт переговоры с руководством команды из Хинвила о 
    потенциальном контракте для Колапинто.
</p>
<p>Джеймс Ваузл: «Независимо от того, как будут развиваться события, Франко останется в составе нашей молодёжной 
    академии. Мы изучаем варианты для его карьеры на следующий год на тот случай, если в Audi не возьмут его. 
    Чтобы прояснить ситуацию, скажу, что мы ведём переговоры и хотим понять, подходит ли этот вариант для него, 
    и может ли он выйти на старт вместе с ними в течение двух лет.
</p>
<p>Если Франко всё же останется с нами, то мы будем организовывать для него тесты машины двухлетней давности, 
    которая во многом той же спецификации, что и актуальная. Он проедет тысячи и тысячи километров за рулём, 
    чтобы оставаться в хорошей форме. Франко будет дорабатывать машину на симуляторе и одновременно работать на тестах.
</p>
<p>При этом мы вместе с Франко рассматриваем несколько гоночных серий, чтобы он параллельно мог выступать в гонках. 
    Он останется нашим резервным гонщиком и будет готов сесть за руль, если что-то произойдёт. За последние 12 месяцев 
    я понял, что ситуация с гонщиками заранее не предопределена.
   
</p>
<p>
    Для нас хорошо, что мы подписали с ним контракт, но посмотрим на ситуацию на рынке пилотов в следующем году.
    Полагаю, будет больше движений. В то же время уже сейчас у другой команды есть возможность заполучить одного 
    из лучших из доступных гонщиков. Думаю, это бы их усилило».
</p>
</body>
</html>