<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Фредерик Вассёр: Вся борьба ещё впереди</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/ferrari/176761.jpg" 
        alt="car">
<p>В Ferrari напряженно готовились к этапу в Остине во время длительного 
    перерыва между этапами и надеются сократить отставание от лидеров…
</p>
<p>Фредерик Вассёр, руководитель команды: «Этап в Остине станет началом 
    напряженной концовки сезона: за восемь недель пройдут шесть гонок, 
    разделенных на две серии по три Гран При.
</p>
<p>После Сингапура мы напряженно работали и скоростные повороты американской 
трассы станут хорошим тестом для обновлений, которые мы внедрили на прошлых этапах.
</p>
<p>Как всегда, по ходу уик-эндов с субботним спринтом предварительная подготовка на 
    базе приобретает ещё большее значение – после единственной тренировки начнётся 
    соревновательная часть –  квалификация к спринту.
   
</p>
<p>
    Шарль, Карлос и вся команда нацелены на борьбу и готовы максимально использовать 
    наши возможности. Нужно всё сделать идеально. Сильнейшие команды очень близки по скорости, 
    вся борьба в чемпионате ещё впереди».
</p>
</body>
</html>