<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Ferrari привезёт в Остин последние новинки в этом сезоне</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/vasseur/177332.jpg" 
        alt="car">
<p>До конца сезона Формулы 1 остаётся шесть этапов, и команды постепенно 
    переключаются на работу с машинами 2025 года. Руководитель Ferrari 
    Фредерик Вассёр рассказал, что на предстоящий Гран При США в Остине 
    команда привезёт последние в этом году технические обновления SF-24.
</p>
<p>Фредерик Вассёр: «Мы уже начали разработку машины для следующего сезона. 
    Однако мы постараемся подготовить небольшие обновления к следующему этапу. 
    Скорее всего, это будет последнее обновление в сезоне. Не только у нас, но 
    и у всех команд.
</p>
<p>Отрывы в первой четвёрке команд минимальные. Посмотрим, повлияют ли на что-то 
    эти новинки».
</p>
<p>Оценивая выступления Ferrari в Сингапуре, Вассёр сказал: «Я не хочу никого обвинять, 
    но нам нужно стать более сосредоточенными и стабильнее проводить уик-энды. Думаю, 
    все со мной согласятся, что как только ты допускаешь в тренировке даже малейшую ошибку, 
    то отыграться становится достаточно сложно.
</p>
<p>
    Воскресная гонка получилась хорошей. Шарль и Карлос демонстрировали высокий темп, хотя 
    поначалу их несколько сдерживали, но мы можем быть довольны стратегией и контролем износа 
    резины на нескольких прошедших этапах. Теперь в нашем распоряжении есть несколько недель, 
    тобы подготовиться к шести оставшимся гонкам».
</p>
</body>
</html>