<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Леклер: Приход Льюиса станет для меня новым вызовом</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/hamilton/177586.jpg" 
        alt="car">
<p>Во время праздника Festval dello Sport, который в этот уик-энд проходит в Милане, 
    у итальянских журналистов была возможность пообщаться с несколькими знаковыми персонами 
    из мира Формулы 1 – в том числе со Стефано Доменикали, с Маттиа Бинотто, а также с Шарлем 
    Леклером, гонщиком Ferrari.
</p>
<p>Со следующего года его напарником будет Льюис Хэмилтон, и, конечно, болельщики Скудерии 
    в предвкушении их сотрудничества и соперничества. Леклер заверил, что относится к 
    семикратному чемпиону мира с огромным уважением, и поработать с ним в одной команде 
    будет для него очень полезно.
</p>
<p>«Я знал о переговорах с Льюисом, который столько всего выиграл, и для меня его приход 
    в команду означает новый вызов, – рассказал Шарль в интервью с Gazzetta dello Sport. – 
    Я очень этому рад, ведь для меня это отличная возможность показать, на что я способен, 
    и чего я стою.
</p>
<p>
    У меня с ним всегда были прекрасные отношения. В том числе он поможет мне развеять некоторые 
    сомнения и научит определённым вещам, в частности, поможет поработать над имиджем, ведь я 
    не сомневаюсь, что он продолжит придерживаться этой своей манеры интересно одеваться. (смеётся)
</p>
<p>
    Я постараюсь добиться максимально возможных результатов на трассе, я знаю свои сильные и слабые 
    стороны и в каждый уик-энд с самого первого круга первой тренировки продолжаю работать, стараясь 
    исправить свои недостатки.  
</p>
<p>
    В моей карьере были трудные периоды, которые надо было пережить, но я также усвоил, что в жизни 
    есть не только Формула 1, после чего мне стало проще справляться с прессингом. Иногда нужно сделать 
    шаг назад.
</p>
<p>
    Автоспорт вдохновляет меня больше всего, однако здоровье, семья и друзья всё-таки важнее. Казалось 
    бы, это очевидные истины, но раньше я этого не понимал. А когда понял, это, по-моему, помогло мне 
    стать лучше в профессиональном плане».
</p>
</body>
</html>