<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Окон и Гасли надеются на очки в Остине…</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/alpinef1team/177611.jpg" 
        alt="car">
<p>В трёх гонках подряд в Alpine не заработали очков, но надеются на удачу в Остине…
</p>
<p>Эстебан Окон: «Уик-энд в Сингапуре был сложным для команды, в начале гонки удалось 
    отыграть несколько мест, но добиться большего мы не смогли. Наших усилий оказалось 
    недостаточно для борьбы за очки.
</p>
<p>Перерыв между Сингапуром и Остином позволил подвести итоги и сосредоточиться на 
    предстоящей серии из трёх Гран При подряд.
</p>
<p>Я с нетерпением жду возвращения в Остин, это уникальное место, где энергия американских 
    болельщиков гарантирует потрясающую атмосферу. Там сложная трасса, а гонки всегда 
    получаются интересными.
</p>
<p>В Остине стартует первая из двух серий по три гонки подряд, они потребуют больших 
    физических и психологических усилий всей команды, поэтому здорово, что после 
    Сингапура нам удалось отдохнуть. Я много работал в тренажерном зале и на симуляторе, 
    наша цель – максимально использовать все возможности в этот уик-энд».
</p>
<p>Пьер Гасли: «После сложной для нас гонки в Сингапуре перерыв в календаре наступил очень 
    вовремя. В прошлой гонке нам не хватало скорости, поэтому мы изменили стратегию, чтобы 
    помочь Эстебану, но не получили желаемого эффекта. Возможно, мы ожидали, что в Сингапуре 
    выступим лучше, чем в Монце и Баку, но в итоге не смогли побороться за очки. Трехнедельный 
    перерыв позволил перестроиться и немного прийти в себя перед возвращением в Остин.
</p>
<p>В Остине проходит один из лучших этапов в сезоне, а американские болельщики с каждым годом 
    всё активнее поддерживают Формулу 1. Трасса нам подходит – мы убедились в этом в прошлом году, 
    заняв седьмое место в спринте и шестое в Гран При.
</p>
<p>Во время перерыва я работал на симуляторе в Энстоуне, чтобы в этот уик-энд сразу найти нужную скорость, 
    ведь впереди этап с субботним спринтом. Надеюсь, мы сможем начать серию из трёх Гран При подряд двумя 
    отличными результатами в этот уик-энд. Нам есть, за что бороться, мы надеемся на более высокие позиции 
    по итогам сезона».
   
</p>
</body>
</html>