<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Бриаторе: Дверь для Карлоса Сайнса остаётся открытой
    </h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/sainz-junior/177559.jpg" 
        alt="car">
<p>Флавио Бриаторе, ныне вернувшийся в паддок Формулы 1 в роли консультанта 
    Alpine с весьма широкими полномочиями, не исключает, что в будущем у заводской 
    команды Renault ещё появится возможность пригласить Карлоса Сайнса.
</p>
<p>Есть своя логика в том, что испанский гонщик в итоге подписал контракт с Williams, 
    которая находится на подъёме, а не стал связывать себя обязательствами с командой,
    переживающий затяжной кризис. В Alpine в итоге сделали иной выбор, и в следующем 
    году новым напарником Пьера Гасли станет Джек Дуэн, дебютант Формулы 1, в этом 
    году сотрудничающий с командой из Энстоуна в качестве резервного гонщика.
</p>
<p>«Год назад Макс Ферстаппен выигрывал все гонки подряд, а сейчас машины других команд 
    стали более конкурентоспособными, и победы достаются другим гонщикам, – рассуждал 
    Бриаторе в интервью Motorsport Magazin. – Я не хочу тратить X миллионов на гонщика, 
    потому что разницы никакой не будет.
</p>
<p>Мы довольны Пьером Гасли, а теперь у нас есть ещё и молодой гонщик. Но если Карлос 
    захочет выступать за нашу команду в 2026 году, то дверь для него будет открыта. 
    Мы увидели возможность подписать контракт с Сайнсом, но она появилась слишком рано, 
    так что у нас нет никаких разочарований.
   
</p>
<p>Но прежде чем обсуждать тему гонщиков, мы должны поднять вопрос о конкурентоспособной 
    машине, ведь если наша машина не отличается эффективностью, то совершенно неважно, 
    какого гонщика мы усадим за руль. Прежде всего вместе с Оливером Оуксом, 
    новым руководителем команды, мы должны навести порядок, чтобы все в Alpine вновь обрели мотивацию».
</p>

</body>
</html>