<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>В Renault перестанут строить двигатели для Формулы 1</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/alpinef1team/177408.jpg" 
        alt="car">
<p>В Renault официально подтвердили, что не будут проектировать и строить собственную 
    силовую установку для команды Alpine, выступающей в Формуле 1, после перехода на 
    новый технический регламент в 2026 году.
</p>
<p>Таким образом, в 2026-м Alpine потеряет статус полностью заводской команды и перейдёт 
    на клиентские двигатели. Команде ещё предстоит договориться с новым поставщиком, 
    но велика вероятность, что на машинах, построенных в Энстоуне, будут стоять силовые 
    установки Mercedes.
</p>
<p>База Renault в Вири-Шатийон, на которой разрабатывались и производились двигатели для 
    Формулы 1, будет преобразована в инженерный центр Hypertech Alpine, который начнёт 
    работу в конце 2024 года и будет заниматься несколькими проектами.
</p>
<p>В их числе разработка нового дорожного суперкара Alpine, исследования и разработки 
    в области электродвигателей и аккумуляторных технологий, работа над продолжающимися 
    программами Renault в автоспорте, включая WEC, и создание «подразделения по мониторингу 
    Формулы 1 для контроля технических разработок в этой отрасли».
</p>
<p>
    Исполнительный директор Alpine Филипп Криф назвал изменения «поворотным моментом в истории
     Вири-Шатийон» и добавил, что «гоночная ДНК остаётся краеугольным камнем бренда».
</p>
<P>
    Компания Renault разрабатывала и поставляла двигатели для команд Формулы 1 большую часть 
    времени на протяжении 50 лет. Последним гонщиком, ставшим чемпионом мира на машине с мотором 
    Renault, был Себастьян Феттель.
</P>
</body>
</html>