<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Оскар Пиастри о Red Bull: Это очевидное нарушение правил</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/piastri/177668.jpg" 
        alt="car">
<p>Гонщик McLaren Оскар Пиастри прокомментировал подозрения в адрес Red 
    Bull Racing в нарушении регламента. В FIA не стали начинать официальное 
    разбирательство после того, как в чемпионской команде согласились 
    изменить конструкцию машины, но, по мнению Пиастри, в Red Bull Racing 
    нарушили регламент.
</p>
<p>«Очевидно, что мы все расширяем границы технического регламента, – 
    рассказал австралийский гонщик McLaren в Остине. – Все так поступают, и 
    именно это делает Формулу 1 Формулой 1. Но исходя из того, что я слышал, 
    и что мне сказали, это уже не расширение границ, а очевидное их нарушение.
</p>
<p>Я не знаю, о какой машине идёт речь, и действительно ли такое устройство 
    было на какой-то машине, как об этом говорят. Но если что-то подобное 
    действительно использовалось, то это очевидно нельзя называть расширением 
    границ – это переход из серой зоны в чёрную зону.
</p>
<p>
    Наше заднее антикрыло было легальным, но несмотря на это, нам 
    пришлось внести изменения в конструкцию. Посмотрим, повлияет ли это 
    на что-нибудь».
</p>
</body>
</html>