<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Зак Браун: McLaren была на грани банкротства</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/brown/177654.jpg" 
        alt="car">
<p>Руководитель McLaren Racing Зак Браун рассказал о том, какой была ситуация в команде в тот момент, когда он пришёл в компанию…
</p>
<p>Зак Браун: «Я не представлял, насколько всё плохо, ведь я вырос рядом с 
    McLaren, и это была всемогущая McLaren. Я и допустить не мог, что всё так 
    плохо.
</p>
<p>Но я увидел команду, которая провела худший сезон в истории McLaren, пустую 
    гоночную машину без спонсорских наклеек, гонщиков, которые не хотели у нас выступать, 
    и недовольный персонал, которому не хватало руководства, где каждый был сам за себя. 
    Я услышал много взаимных обвинений, теорий заговора, увидел полное отсутствие доверия.
</p>
<p>Было совершенно очевидно, что команда сбилась с пути, что у нас нет 
    направления, что возник хаос и негатив, отсюда и результаты. 
    Потребовалось некоторое время, чтобы скорректировать курс, внести изменения, 
    сформировать совершенно новую команду руководителей, делая по одному шагу за раз.
</p>
<p>
    Как раз в тот момент, когда ситуация начала улучшаться, начался Covid-19. 
    Спонсорская поддержка прекратилась, призовые значительно сократились. 
    Это чуть не вывело нас из бизнеса. Нам оставался месяц или два. 
    Мы были очень близки к этому, но я всегда верил, что мы найдём деньги, 
    или акционеры сделают шаг навстречу. Я испытывал сильный стресс, но всегда 
    чувствовал, что в итоге мы справимся. Так и получилось.
</p>
<p>
    В последние годы команда приносит прибыль, а рекордный доход в размере «более 
    500 миллионов фунтов стерлингов» должен быть получен в этом году».
</p>
</body>
</html>