<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Норрис: Я так же уверен в себе, как в Сингапуре</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/norris/177662.jpg" 
        alt="car">
<p>Ландо Норрис считает, что в Остине будет не менее быстр, чем в Сингапуре – 
    и постарается сократить отставание от лидера личного зачёта…
</p>Ландо Норрис: «После Сингапура мне не хотелось в отпуск, команда набрала отличный 
темп и я хотел продолжать гоняться. Но сейчас я так же уверен в себе, как на прошлом этапе, 
даже больше.
<p>Если вспомнить мой прошлогодний результат в Остине с нашей 
    прошлогодней машиной, и сопоставить с нашей формой в Сингапуре, 
    сейчас всё должно быть хорошо. Тогда в Остине я лидировал первую половину гонки. 
    Потом пелотон перемешался из-за разных вариантов стратегии, но это был хороший уик-энд.
</p>
<p>На трассе вновь уложили новый асфальт, чуть иначе установлены поребрики – есть вопросы, 
    на которые предстоит ответить. Но если судить по прошлому году, по тому, как мы выступали 
    в последних трёх, четырёх, пяти гонках, мы должны быть уверены в своих силах.
</p>
<p>Я слышал, что в FIA ужесточили проверку машин из-за решения, найденного у Red Bull. Здорово, 
    что федерация действует столь оперативно. Но я не знаю, что это изменит. Мы понятия не имеем 
    о том, насколько активно соперники использовали это решение. Но если они использовали это так, 
    как думают люди, то нам это может помочь.
</p>
<p>Понятно, что такое устройство не обеспечит вам поул или победу, но если вспомнить отдельные квалификации 
    и гонки, где всё решали сотые и тысячные на круге, то определённое влияние вполне могло быть.
</p>
<p>В личном зачёте всё может сложиться как в мою пользу, так и в пользу 
    Макса. Я доволен тем, как мы выступаем, и концентрируюсь на своей работе. 
    Уверен, если мы продолжим прессинговать, то сможем сократить отставание, 
    хотя это было непросто. Мне нужно нечто большее, чем просто я первый, а 
    Макс второй, но я не могу этого изменить».
   
</p>

</body>
</html>