<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Лиам Лоусон: В Остине мне придётся непросто</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/lawson/177589.jpg" 
        alt="car">
<p>Лиам Лоусон признал, что прежде чем он получил возможность провести за RB 
    оставшиеся шесть гонок сезона, ему пришлось пройти своего рода экзамен, в 
    ходе которого его сравнивали с Даниэлем Риккардо, чьё место он в итоге занял.
</p>
<p>В этом году новозеландец не выступал ни в каких соревнованиях, но несколько 
    раз работал на тестах, пилотируя машины предыдущих лет выпуска. В Red Bull 
    хотели дать ему возможность после Гран При Бельгии провести тесты уже за рулём 
    VCARB 01, однако планы изменились, и в августе в Имоле эту машину по очереди 
    пилотировали Риккардо и Юки Цунода, а Лоусон ездил на AlphaTauri образца 2022 года.
</p>
<p>Тем не менее, по словам Лиама, это тоже была часть процесса, в ходе которого 
    его сравнивали с этими гонщиками.
</p>
<p>«Во все эти дни продолжался процесс проверки моих возможностей, и предполагалось, 
    что я должен работать в условиях сильного прессинга, – рассказал он в интервью 
    новозеландской радиостанции Newstalk ZB. – В общем в Red Bull должны были убедиться, 
    что я смогу показывать какие-то результаты, поскольку они собирались усадить меня за 
    руль посреди сезона, и это было немного похоже на прошлогоднюю ситуацию.
   
</p>
<p>Так что во все дни продолжалась проверка, это однозначно. Но в Остине мне предстоит 
    трудное испытание, ведь раньше я не выступал на этой трассе, хотя интенсивно изучал её, 
    работая на симуляторе. Но я бы сказал, что сейчас моя подготовка, безусловно, лучше, чем 
    год назад, хотя я возвращаюсь за руль несколько позже, когда Юки и Даниэль провели уже три 
    четверти сезона.

</p>
<p>Понятно, что весь год я тренировался как сумасшедший, чтобы быть готовым к подобному развитию 
    событий, но даже те несколько тестов, что я провел в 2024-м, не дают возможности подготовиться 
    к реальной гонке. Так что в Остине мне придётся непросто».



</p>
</body>
</html>