<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Хорнер: Мы хотим, чтобы Риккардо остался послом команды</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/ricciardo/177411.jpg" 
        alt="car">
<p>Кристиан Хорнер заявил, что рассчитывает на продолжение сотрудничества с Даниэлем Риккардо. 
    Руководитель Red Bull Racing рассказал, что предложил австралийскому гонщику роль посла команды.
</p>
<p>Кристиан Хорнер: «Формуле 1 будет не хватать Даниэля, ведь он прекрасный человек. Своей улыбкой 
    он освещал комнату, в которую заходил. Нам так и не удалось договориться о рекламе зубной пасты 
    с его участием! Но мы очень старались.
</p>
<p>Я надеюсь, что он останется в спорте. Мы чётко дали ему понять, что хотим, чтобы он оставался послом
    команды. И, конечно, мы не знаем наверняка, как дальше будут развиваться события. Если Лиам Лоусон не 
    справится с работой, или если Серхио Перес не справится с работой [смеется], то мы знаем, на что 
    способен Даниэль.
</p>
<p>Полагаю, он понимает, что у него была великолепная карьера и множество воспоминаний. Самым отвратительным 
    было пить шампанское из его потного ботинка. Одно дело, когда он пил его сам, но совсем другое, когда 
    он заставил некоторых знаковых персонажей сделать то же самое».
</p>
</body>
</html>