<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Тото Вольфф: Хочется устроить Льюису достойные проводы</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/wolff/177613.jpg" 
        alt="car">
<p>Команда Mercedes в этом году вновь не претендует на Кубок конструкторов, 
    но, по словам её руководителя Тото Вольффа, на финальной стадии сезона, 
    которая обещает быть очень напряжённой, по-прежнему есть за что бороться.
     В том числе в Гран При США, с которого начинается серия из трёх заокеанских 
     гонок подряд.
</p>
<p>Тото Вольфф: «Первый этап из трёх подряд пройдёт на автодроме Circuit of the 
    Americas в Остине, штат Техас. В этот уик-энд начнётся напряжённая заключительная 
    часть сезона, и за восемь следующих недель мы проведём шесть гонок, последняя из 
    которых – финал чемпионата в Абу-Даби.
</p>
<p>Хотя мы не претендуем на победу в чемпионате, нам по-прежнему есть за что бороться, 
    и шансы ярко выступить в каких-то из оставшихся гонок остаются.  Мы хотим как можно 
    лучше провести концовку сезона, чтобы подготовиться к 2025 году. Хочется устроить Льюису 
    по-настоящему достойные проводы.
</p>
<p>Поэтому после Сингапура мы упорно трудились, анализировали наше выступление и старались понять, 
    за счёт чего можно прибавить. В Техас мы везём последний в этом сезоне комплекс технических новинок, 
    и наша цель в том, чтобы сократить отставание от лидеров. Кроме того, это позволит собрать полезную 
    информацию, которая поможет правильно выбрать направление развития с прицелом на 2025 год.
   
</p>
<p>В программу уик-энда вновь входит спринтерская гонка, поэтому, внедряя наши новинки, мы должны максимально 
    эффективно поработать.

</p>
<p>
    Circuit of the Americas – прекрасный автодром, но именно там в прошлом году у нас неожиданно возникли 
    проблемы. У трассы скоростной характер, и в сочетании с кочковатым асфальтом это создаёт сложности 
    и для гонщиков, и для техники. Но мы готовы принять этот вызов».
</p>
</body>
</html>