<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Вольфф: Попробуем победить Льюиса в следующем году</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/hamilton/177597.jpg" 
        alt="car">
<p>В следующем сезоне Льюис Хэмилтон впервые в своей карьере в Формуле 1 
    будет выступать не за команду с британской пропиской. Некоторые предполагают, 
    что семикратный чемпион мира может столкнуться с некоторыми трудностями адаптации 
    из-за особенностей подхода к работе в Ferrari. Но руководитель Mercedes Тото Вольфф 
    уверен, что у Льюиса не возникнет проблем в Маранелло.
</p>
<p>«Многие говорят, что Льюиса ждут трудности, но когда так говорят, в реальности чаще 
    всего получается наоборот, – поделился мнением Тото Вольфф. – Ferrari – великолепная 
    команда, в которой работают отличные люди. Да, в команде много эмоций, страсти и прессинга, 
    но я уверен, что они найдут способ работать друг с другом.
</p>
<p>Мы с Льюисом преодолели большой путь за последние 12 лет, и он всегда будет оставаться частью 
    нашей семьи. Но очевидно, что в следующем году он станет нашим соперником, и мы попробуем его победить.
</p>
<p>Кими Антонелли присоединится к Джорджу Расселлу, и это, без сомнений, придаст команде импульс. 
    Вы даже можете увидеть, как все в команде улыбаются из-за того, что нашу машину будет пилотировать 
    18-летний парень. Конечно, будут моменты, когда опыт Льюиса помог бы, тогда как Кими ещё предстоит 
    многому научиться. Но команда приняла верное решение, и никто не поступил бы по-другому».
</p>

</body>
</html>