<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Антонелли мечтает о победах в своём дебютном сезоне</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/antonelli/177590.jpg" 
        alt="car">
<p>В 2025 году в Формуле 1 дебютирует Кими Антонелли, причём сразу станет 
    напарником Джорджа Расселла в Mercedes, хотя у 18-летнего итальянского 
    гонщика не так много опыта даже в молодёжных сериях. Однако Тото Вольфф 
    и его команда решили рискнуть, поскольку верят в его потенциал.
</p>
<p>«Когда я работал на тестах за рулём машин предыдущих лет выпуска, команду 
    впечатлило, насколько быстро мне удавалось достигать предела, как быстро 
    я начинал проходить круги с тем временем, которое было нужно Mercedes, – 
    рассказал Кими в интервью Gazzetta dello Sport. – Но должен признать, 
    что сложнее всего на тестах для меня было показывать стабильный гоночный темп.
</p>
<p>Однако на последних двухдневных тестах в Спа мне удалось значительно улучшить 
    темп, после чего в Mercedes решили подписать со мной контракт. Они и до этого 
    хотели усадить меня за руль в 2025 году, но сначала им надо было убедиться, 
    что я смогу исправить эти свои недостатки. Во время тестов в Спа я сделал 
    заметный шаг вперёд, и это убедило Mercedes.
</p>
<p>На самом деле ещё до летнего перерыва у меня была встреча на базе Mercedes 
    с Тото Вольффом, моим инженером и другими людьми, и там мне сказали, что 
    в 2025-м мне предстоит выступать за эту команду. Это был приятный момент.
</p>
<p>Я чувствую, что готов к Формуле 1. Думаю, что со скоростью проблем не будет. 
    Единственное, над чем надо будет серьёзно потрудиться – это над тем, как правильнее 
    всего выстраивать работу в течение всего гоночного уик-энда, а также усвоить все 
    необходимые процедуры. В общем, мне предстоит многому научиться.
</p>
<p>Если смогу выиграть какие-то гонки, то осуществится моя мечта. Я ставлю перед собой 
    именно такую цель, хотя легко не будет, ведь у всех команд быстрые машины. 
    Если поднимусь на подиум, это тоже неплохо, но главная цель – одержать несколько побед».
</p>

</body>
</html>