<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Расселл: Возвращение Эллисона сыграло важную роль</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/allison/175275.jpg" 
        alt="car">
<p>В этом году Mercedes прервала продолжавшуюся с 2022 года серию 
    неудачных выступлений. Гонщик команды Джордж Расселл считает, 
    что главной причиной достигнутого прогресса стало возвращение 
    Джеймса Эллисона на роль технического директора.
</p>
<p>В 2021-м Эллисон передал технический отдел Mercedes Майку Эллиотту, 
    под руководством которого команда вновь выиграла Кубок конструкторов, 
    но ошиблась с концепцией минимальных боковых понтонов, которую реализовала 
    в 2022-м и долго придерживалась, пока не убедилась в её неэффективности.
</p>
<p>Эллисон вернулся к должности технического директора в апреле 2023 года, 
    Расселл считает, что это имело решающее значение для команды.
</p>
<p>Джордж Расселл: «Тот факт, что Джеймс Эллисон снова принял более активное 
    участие в проекте, стал для нас огромным преимуществом. В команде много 
    талантливых людей, но его четкое руководство и опыт имели решающее значение 
    для максимально эффективного использования таланта инженеров.
</p>
<p>
    Улучшение показателей было подкреплено частичной потерей конкурентоспособности 
    Red Bull Racing. Мы добились прогресса, а они сделали шаг назад».
</p>
</body>
</html>