<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Боттас: О контракте лучше спрашивать Бинотто, а не меня</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/bottas/177655.jpg" 
        alt="car">
<p>Перед началом каждого гоночного уик-энда журналисты задают Валттери Боттасу вопрос 
    о контракте на 2025 год. Каждый раз финн отвечает, что вопрос практически решён, 
    но в Остине изменил свой обычный ответ. Валттери заявил, что в данной ситуации 
    вопрос о его контракте стоит задать руководителю Sauber Маттиа Бинотто.
</p>
<p>Валттери Боттас: «Полагаю, я уже говорил, что надеялся решить вопрос с контрактом до 
    Остина, но на данный момент продолжаю ожидать финальное решение. Думаю, сейчас вопрос 
    о контракте лучше задавать Маттиа, а не мне. Я получил сообщение, что сейчас ничего не могу сделать.
</p>
<p>Этот вопрос уже не в моих руках. Конечно, на этой неделе я постараюсь выступить как можно лучше и надеюсь, 
    что это подстегнёт развитие событий. Ситуация на данный момент такова, что осталось только одно свободное место, 
    поэтому, конечно, риск есть. Я люблю Формулу 1 и хочу здесь выступать, так что ситуация несколько странная, но что
    есть, то есть.
</p>
<p>У меня было много времени подумать о разных вещах, но я всё равно настроен позитивно. Я сохраняю позитивный настрой 
    и считаю, что это место должно быть моим, поскольку, по моим ощущениям, я лучший вариант с точки зрения интересов команды.
</p>
<p>
    Как я сказал, сейчас ничего не могу сделать, кроме как показывать результаты и много работать с командой. Конечно, с моей 
    стороны тоже существует крайний срок принятия решения, поскольку дело движется к рождественским праздникам, а к этому 
    сроку уже практически нигде нет мест ни за пределами Формулы 1, ни на других ролях в Формуле 1. Поэтому я надеюсь, 
    что решение будет принято в ближайшее время».
</p>
</body>
</html>