<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>В Sauber подготовили новинки к Гран При США</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/bottas/177633.jpg" 
        alt="car">
<p>Команда Sauber, на счету которой нет заработанных очков в нынешнем сезоне, подготовила технические 
    новинки к Гран При США. Для их оценки в распоряжении гонщиков и инженеров будет одна часовая тренировка, 
    но в команде рассчитывают, что смогут раскрыть потенциал обновлений.
</p>
<p>Валттери Боттас: «Здорово вернуться в Остин. Это популярный этап во время которого обычно проходят очень 
    захватывающие гонки. В 2019-м я победил на этой трассе с поула. Я часто приезжаю в США в течение года, 
    чтобы хорошо провести время, и сейчас с нетерпением жду уик-энд.
</p>
<p>Я рад, что мы сделали небольшой трёхнедельный перерыв. Я тренировался и готовился к предстоящим гонкам на 
    симуляторе, отдохнул и мотивирован перед тремя предстоящими гонками.
</p>
<p>В этот уик-энд мы привезём обновления. Я хочу протестировать их на трассе и раскрыть потенциал. Важно понять, 
    как они повлияют на машину, и у нас есть всего одна тренировка, чтобы разобраться с этим вопросом. Но всегда 
    позитивно, когда команда готовит новинки».
</p>
<p>Гуаньюй Чжоу: «Два последних года мне нравилось выступать в Остине. В Техасе знают, как организовать хорошее шоу, 
    так что я жду предстоящий уик-энд.
</p>
<p>Было здорово провести какое-то время вне гоночной трассы после сдвоенных этапов. Я приезжал на базу команды и 
    работал на симуляторе, а теперь с нетерпением жду возвращения за руль. Этапы со спринтом сложные, но они 
    открывают дополнительные возможности. Постараемся как можно эффективнее провести время на трассе. Нам нужно 
    быть в форме, чтобы добиться лучшего из возможных результатов.
</p>
<p>На трассе в Остине возможны сюрпризы, и нужно чувствовать уверенность, чтобы раскрыть весь потенциал. Если мы 
    сможем всё это сделать в единственной тренировке, то тогда получится выжать максимум из машины».
</p>

</body>
</html>