<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Окон не знал о готовящемся сотрудничестве Haas с Toyota</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/ocon/177592.jpg" 
        alt="car">
<p>Руководитель Haas Айо Комацу рассказал, что когда вел переговоры с Эстебаном Оконом, 
    не сообщил французскому гонщику о готовящемся соглашении с Toyota. Связано это с тем, 
    что к моменту подписания контракта с Оконом, у Комацу ещё не было уверенности, что 
    сделка с японским автопроизводителем состоится.
</p>
<p>Айо Комацу: «Я говорил Эстебану, что у нас есть план развития, который позволит вывести 
    команду вперёд, добиться разумного прогресса, если хотите. Но в тот момент, когда мы 
    согласовывали финальные детали контракта с Эстебаном, а это было в районе Гран При Австрии, 
    ещё было слишком рано что-то ему гарантировать.
</p>
<p>Я не хотел говорить ему о чём-то, в чём на тот момент не было уверенности. Я не хотел оказаться 
    в ситуации, когда я ему что-то пообещал, он подписал контракт, а через три месяца мне пришлось 
    бы ему сказать: «Извини, приятель, у меня не получилось договориться».
</p>
<p>Эстебан подписал контракт, понимая, что у нас есть видение того, как развивать команду. 
    Вместо того, чтобы сообщить ему о конкретном техническом сотрудничестве, я рассказал ему, 
    как мы планируем развивать команду, и он полностью поддержал эту идею».
   
</p>
</body>
</html>