<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>В Toyota не планируют строить двигатель для Формулы 1</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/haasf1team/177558.jpg" 
        alt="car">
<p>Сегодня было объявлено о начале сотрудничества между командой Haas и компанией Toyota. 
    На пресс-конференции, прошедшей после презентации, руководителю проекта Toyota Gazoo 
    Racing Масаю Каджи задали вопрос, планирует ли компания создать собственный двигатель для Формулы 1.
</p>
<p>«В данный момент у нас нет планов становиться поставщиком силовых установок, – ответил Каджи. – 
    Более того, у нас нет и планов по созданию собственной команды в Формуле 1. В данный момент для 
    нас лучший вариант и лучший выбор – сотрудничество с Haas».
</p>
<p>Заводская команда Toyota выступала в Формуле 1 с 2002 по 2009 годы. За это время гонщики команды 
    13 раз поднимались на подиум, но не одержали ни одной победы.
</p>

</body>
</html>