<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Айо Комацу: Мы уже быстрее, чем Aston Martin</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/krack/177386.jpg" 
        alt="car">
<p>После первого дня работы на трассе в Сингапуре Фернандо Алонсо заявил, что машина 
    Aston Martin – только седьмая по скорости. И это в лучшем случае, т.е. AMR24, 
    с его точки зрения, в любом случае медленнее, чем машины Haas и Williams.
</p>
<p>Правда, потом он стартовал с 7-й позиции, хотя действительно позади Нико Хюлкенберга, 
    а финишировал 8-м, опередив его, но, по признанию Майка Крака, руководителя Aston Martin, 
    это ему удалось только за счёт исключительного мастерства.
</p>
<p>При этом Крак не скрывает, что проблемы со скоростью машины связаны с тем, что технические 
    новинки, которые разрабатывает и внедряет команда из Сильверстоуна, «часто не давали того 
    эффекта, на который рассчитывали её инженеры».
</p>
<p>
    Айо Комацу, его коллега и соперник, руководитель Haas F1, тоже готов признать, что процесс 
    модернизации техники идёт не вполне гладко, однако на этой стадии чемпионата их машина 
    всё-таки быстрее Aston Martin.
</p>
<p>«Наш первый комплекс обновлений работал только на 50%, зато второй позволил добиться более 
    существенного прироста скорости, чем мы ожидали, – рассказал Комацу в интервью Auto Motor 
    und Sport. – Внедрение третьего мы отложили на одну гонку.

</p>
<p>Но уже после первого обновления кто-то из наших инженеров предложил ряд идей, как можно 
    повысить темп. Мы никого не обвиняли в том, что новинки не вполне сработали, мы просто 
    взялись за дело, объединив усилия.
    
</p>
<p>В результате после летнего перерыва в большинстве случаев мы быстрее, чем Aston Martin. 
    Например, в Сингапуре Нико показал 6-е время в квалификации, уступив времени самого 
    быстрого гонщика всего шесть десятых. Для нашей маленькой команды это равнозначно поул-позиции.
    
</p>
<p>Каждую хорошую идею надо развивать, от кого бы она ни исходила – направление модернизации 
    техники всегда задавали лучшие команды. Мы составляем наши планы на основе ежедневного 
    анализа полученных данных, но при этом должны шаг за шагом отстраивать нашу инфраструктуру.

</p>
<p>А если инженерный департамент производит только шум, и все на базе команды заняты только 
    тем, что спорят, чьи идеи лучше, то при таком подходе мы бы ничего не добились».

</p>
<p>Позитивный настрой Комацу, конечно, радует, но в Кубке конструкторов американская команда 
    занимает только 7-е место, хотя уже почти догнала RB, тогда как Aston Martin находится на 5-й 
    строчке с весьма заметным преимуществом по очкам. Впрочем, всё логично, учитывая размеры, 
    потенциал и ресурсы этих двух команд, ведь по этим показателям Aston Martin намного превосходит Haas.

</p>
</body>
</html>