<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Нико Хюлкенберг: Я рад заработать очки</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/magnussen/177299.jpg" 
        alt="car">
<p>Нико Хюлкенберг заработал в Сингапуре два очка для Haas F1, а его 
    напарник классифицирован последним…
</p>
<p>Нико Хюлкенберг (9-й): «Я рад заработать очки. Есть несколько моментов, которые 
    нужно проанализировать, но в остальном всё прошло чисто. Гонка не была насыщенной 
    событиями, но на втором отрезке было сложно сдерживать позади гонщика Red Bull. 
    Мне это удалось, что стало своего рода компенсацией за прошлую неделю.
</p>
<p>Ключевым моментом стало хорошее выступление во вчерашней квалификации. Сегодня 
    я хорошо стартовал, не допускал ошибок, что и позволило заработать очки».
</p>
<p>Кевин Магнуссен: (19-й): «Я получил прокол – иногда вы наезжаете на неровность, 
    и она режет шину. Мы не были быстры на Hard, пытались использовать противоположную 
    стратегию, растянув первый отрезок в расчёте на выезд автомобиля безопасности. 
    В результате пришлось сократить дистанцию на Hard, а в конце гонки я получил прокол.
   
</p>
<p>
    В последних гонках у нас был хороший темп, в Остине мы обновим машину, чтобы в лучшей 
    форме провести концовку сезона».
</p>
</body>
</html>