
<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>В Red Bull изменят машину после консультаций с FIA</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/fia/177656.jpg" 
        alt="car">
<p>Мы уже рассказывали о том, что ряд команд Формулы 1 вели переговоры с 
    FIA из-за подозрений, что одна неназванная команда нашла способ 
    регулировать настройки элемента в передней части днища, называемого T
    -Tray, в условиях «закрытого парка» между квалификацией и гонкой.
</p>
<p>
    Изменение настройки T-Tray даёт существенное аэродинамическое
    преимущество, влияя на дорожный просвет машины. T-Tray позволяе
    настраивать оптимальный дорожный просвет для машины с пустым баком
    в условиях квалификации и с полным баком на дистанции гонки. По
    слухам, одна из команд нашла способ менять настройки T-Tray из кокпита,
    когда механики проводят стандартную процедуру подготовки машины к
    гонке, что нарушает правила «закрытого парка».
</p>
<p>Как выяснилось в Остине, этой командой оказалась Red Bull Racing. Её
    представитель подтвердил BBC Sport, что RB20 действительно оснащено 
    устройством для регулировки T-Tray, но оно не используется в режиме
    «закрытого парка». Тем не менее, команда согласовала с FIA внесение 
    изменений в конструкцию машины, чтобы избежать подозрений
    в нарушении регламента.
    
</p>
<p>«Да, такое устройство существует, однако им невозможно пользоваться,
    когда машина полностью собрана и готова к выезду на трассу, – заявил
    представитель чемпионской команды. – Мы обсуждали этот вопрос в
    многочисленных переписках с FIA и согласовали план
    дальнейших действий».
</body>
</html>



    