<h1>Хельмут Марко: Доминирование Норриса чуждо даже для Red Bull</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>
<img src="https://autosport.com.ru/files/styles/896x504/public/news/2024/10/03/136746-beb38b5e-1212-4602-b8ac-e98dd9676eb1.jpg?itok=nXsqOilv" 
alt="car">
<p> Советник Red Bull Racing Хельмут Марко обеспокоен тем, 
    что преимущество McLaren в Формуле 1 в последнее время превратилось в 
    доминирование.
</p>
<p>
    «Доминирование Ландо чуждо нам, особенно на Medium — в Сингапуре
    он выигрывал у нас от девяти десятых до одной секунды за круг. Даже 
    если бы наша машина была, скажем так, оптимизирована, Макс не смог
    бы проехать так же быстро на средних шинах. И мы все удивляемся, как 
    он это сделал.
</p>
<p>
    Когда Норрис отбирает у нас от девяти десятых до одной секунды 
    за круг, то это совершенно новый мир. И не забывайте, что на втором
    отрезке Леклер был таким же быстрым, как Ландо, или даже немного быстрее.
    Так что, я бы сказал, для нас, второе место было почти как 
    победа», — приводит слова Марко издание Motorsport.
</p>