
<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                    
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>



        </div>
    </nav>
<p>
    Мир Формулы 1 — это новостной сайт, посвящённый всем аспектам королевских гонок. 
    Здесь вы найдёте актуальные новости, аналитические статьи и эксклюзивные интервью 
    с гонщиками, командами и экспертами. Мы освещаем последние события в мире Формулы 1, 
    включая результаты гонок, изменения в правилах, трансферы пилотов и технические инновации.
</p>
<p>
    Наши авторы — опытные журналисты и энтузиасты автоспорта, которые следят за каждой деталью чемпионата. 
    Мы предлагаем глубокие аналитические материалы, обзоры гонок и прогнозы на предстоящие этапы. 
</p>
<p>
    Мир Формулы 1 — это не только новости, но и сообщество поклонников автоспорта. У нас есть форумы и 
    разделы для обсуждений, где вы можете поделиться своим мнением и обсудить последние события с другими 
    фанатами. Присоединяйтесь к нам, чтобы быть в курсе всех новостей и событий в мире Формулы 1!
</p>
</body>
</html>