<ol>
    <li>Ландо Норрис - Mclaren</li>
    <li>Макс Ферстаппен - Red Bull</li>
    <li>Шарль Леклер - Ferrari</li>
    <li>Оскар Пиастри - Mclaren</li>
    <li>Карлос Сайнс - Ferrari</li>
    <li>Джордж Рассел - Mercedes</li>
    <li>Фернандо Алонсо - Aston Martin</li>
    <li>Льюис Хэмилтон - Mercedes</li>
    <li>Юки Цунода - RB</li>
    <li>Алекс Албон - Williams<i>
    <li>Франко Колапинто - Williams</li>
    <li>Нико Хюлькенберг- Haas</li>
    <li>Даниэль Риккардо - RB</li>
    <li>Серхио Перес - Red Bull</li>
    <li>Кевин Магнуссен - Haas</li>
    <li>Пьер Гасли - Alpine</li>
    <li>Лэнс Стролл - Aston Martin</li>
    <li>Эстебан Окон - Alpine</li>
    <li>Валтерри Боттас - Stake</li>
    <li>Гуаньюй Чжоу - Stake</li>

</ol>