{% include 'mainpage/header_footer.html' %}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href={% url 'about' %}>О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href={% url 'log' %}>Регистрация</a></li>
                    
                </ul>
                    <a href={% url 'call' %} class="callback">Обратный звонок</a>
            </div>



        </div>
    </nav>
<link rel="stylesheet"
    href="{% static 'd1.css' %}" >
<script src={% static "mainpage/PilotsTV.js" %}> </script>
    <div id="my2cols">
{% for p in participants %}

<a href={% url 'team_profile' team_name=p.name %}>
<div id={{p.name}} class="car" ></div>
</a>
{% endfor %}
</div>
</body>
</html>

