
<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href={% url 'about' %}>О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                    
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
<div class="wrapper">
    <form action="">
        <h1>Регистрация пользователя</h1>
        <div class="input-box">
            <input type="text" placeholder="Имя пользователя" required>
        <div class="input-box">
            <input type="password" placeholder="Пароль" required>
        <div class="remember-forgot">
            <label><input type="checkbox">Запомните меня</label>
            <a href="#">Забыли пароль?</a>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="register-link">
            <p>Нет аккаунта?<a href="#">Зарегистрируйтесь</a></p>
        </div>

        </div>
    </form>
</div>

</body>
</html>