<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-brand">{{teamTitle}}</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href={% url 'about' %}>О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                    
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>



        </div>
    </nav>


    <style>
        .sign {
        float: left; /* Выравнивание по правому краю */
        border: 1px solid #333; /* Параметры рамки */
        padding: 7px; /* Поля внутри блока */
        margin: 10px 0 5px 5px; /* Отступы вокруг */
        background: #f0f0f0; /* Цвет фона */ 
       }
       .sign figcaption {
        margin: 0 auto 5px; /* Отступы вокруг абзаца */
       }
    </style>
{% load static %}
<link rel="stylesheet"
    href="{% static 'd1.css' %}" >
    
<ul>
{% for ar in articles %}
    <figure class="sign">
        <li><a href={% url 'article' team_name=tm artid=ar %}>
            <img src="https://cdn.f1ne.ws/userfiles/fia/177656.jpg"
            width=600px height=350px alt="Хельмут Марко: Доминирование Норриса чуждо даже для Red Bull">
        </a>
        <figcaption>В Red Bull изменят машину после консультаций с FIA </figcaption>
        </li>
        
    </figure>
    {% endfor %}
    
    
</ul>
	
</body>
</html>