<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Регистрация</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Алонсо: С Ньюи победа явно ближе, чем без него</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://cdn.f1ne.ws/userfiles/alonso/174229.jpg" 
        alt="car">
<p>С переходом Эдриана Ньюи в Aston Martin настроение в проводящей не 
    лучший сезон команде заметно улучшилось. Многие связывают свои надежды 
    с талантом британского инженера, в их числе и Фернандо Алонсо.
</p>
<p>Фернандо Алонсо: «Я бы солгал, сказав, что не думал о продлении карьеры, 
    когда узнал о приходе Ньюи. Эдриан придёт в марте следующего года и 
    сосредоточится на проекте машины для 2026-го, когда в Формуле 1 изменится регламент.
</p>
<p>Это решение мы примем внутри команды, вместе с Лоуренсом Строллом и Эдрианом. 
    Но с Ньюи победа явно ближе, чем без него. У него невероятный послужной список успехов в Формуле 1.
</p>
<p>Я объективно оцениваю свой возраст, но надеюсь, что команда доверит мне право выступать 
    за рулём быстрой машины, которую построит Эдриан. Но если она появится уже после того, 
    как я завершу карьеру, я все равно буду наслаждаться её скоростью, поскольку по-прежнему 
    буду частью команды в этом захватывающем путешествии с Aston Martin».
   
</p>
</body>
</html>