<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мир Формулы 1</title>

	
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% load static %}
    <div class="box"></div>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Мир Формулы 1</a>
            
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="{% url 'positions' %}"  target="_blank">Список пилотов</a></li>
                    <li><a href="#">Контакты</a></li>
                
                </ul>
                    <a href="" class="callback">Обратный звонок</a>
            </div>
        </div>
    </nav>
    <h1>Фернандо Алонсо: Когда Ньюи ушёл из Red Bull, я написал ему одно сообщение…</h1>
<style>
    P{
        text-indent: 1.5em;
        text-align: justify;
        font-size: 20px;
    }
</style>

<img src="https://autosport.com.ru/files/styles/896x504/public/news/2024/10/14/136923-53353f37-972a-47a0-81ae-81c3893d2661.jpeg?itok=ekeQ54p6" 
        alt="car">
<p>Двукратный чемпион мира Формулы 1 Фернандо Алонсо рассказал о 
    сообщении с предложением перейти в Aston Martin, которое 
    написал Эдриану Ньюи.
</p>
<p>Легендарный 65-летний конструктор станет управляющим техническим партнером Aston Martin в 
    начале 2025 года, подписав многолетний контракт с зарплатой в 30 миллионов фунтов стерлингов
     в год после своего решения покинуть Red Bull Racing.
</p>
<p>«Я надеялся, что Эдриан присоединится, когда он решил прекратить сотрудничество со своей 
    предыдущей командой, – сказал Алонсо пресс-службе Aston Martin. – Сначала вы мечтаете, 
    что это может случиться. Было несколько слухов о том, что он присоединяется к разным командам.
</p>
<p>Я спрашивал Лоуренса Стролла, Мартина Уитмарша, разных людей в команде, связались ли мы 
    с Адрианом. Я даже в итоге связался с ним сам. У меня есть его номер телефона, и я 
    написал ему: «Какой сюрприз! Если ты когда-нибудь подумаешь, что тебе нужен новый вызов, 
    я бы с удовольствием поработал с тобой однажды».
</p>
<p>
    Потом я узнал, что Эдриан и Лоуренс были на связи. Лоуренс держал меня в курсе переговоров. 
    Когда Эдриан решил подписать контракт, я был чрезвычайно счастлив и горд – горд тем, что 
    он хотел работать с нами и что он верит в наш проект».
</p>
</body>
</html>