#RedBull{
    background-color:rgb(0 0 255) ;
}
#Mclaren{
    background-color: rgb(255 128 64)

}
#Ferrari{
    background-color: rgb(237 28 36)
}
#Mercedes{
    background-color: rgb(192 192 192);
}
#AstonMartin{
    background-color: rgb(0 128 0);
}
#RacingBulls{
    background-color: rgb(0 255 255);
}
#Haas{
    background-color: rgb(255 255 255);
}
#Alpine{
    background-color: rgb(0 128 128);
}
#Williams{
    background-color: rgb(0 255 255);
}
#KickSauber{
    background-color: rgb(128 255 0);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div {
    width: 100px;
    height:  66px;
   border: 3px solid black;
    border-radius: 6px;
}