body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
    background-color: palegoldenrod;
}
.navbar {
    width:100%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}
.navbar .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    
}
.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a {
    display: inline-block;
    color: #000;
    opacity:0.7;
    text-decoration: none;
    padding: 10px;
}
.navbar-menu li a:hover{
    opacity:1;
    transition: all .05s ease-in-out;
}
.navbar-wrap{
    display:flex;
    flex-flow: row nowrap;
}
.callback {
    margin-left: 30px;
    padding:25px 50px;
    border-radius: 100px;
    background-color: bisque;
    text-decoration: none;
    transition: all 1s ease-in-out;
}
.callback:hover{
    transform: scale(1.06);
}
.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #000;
}
.navbar-brand:hover{
    color: red;
    transition: all .05s ease-in-out;
}